[*.cs]
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1210.severity = none
dotnet_diagnostic.SA1633.severity = none